<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bee.MouseHighlighter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<!--see: https://docs.microsoft.com/en-us/dotnet/desktop/winforms/high-dpi-support-in-windows-forms?view=netframeworkdesktop-4.8-->
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2" />
	</System.Windows.Forms.ApplicationConfigurationSection>
 <userSettings>
  <Bee.MouseHighlighter.Properties.Settings>
   <setting name="HighlightOpacity" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="HighlightSize" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="HighlightColor" serializeAs="String">
    <value>Yellow</value>
   </setting>
   <setting name="IsFilledHighlight" serializeAs="String">
    <value>False</value>
   </setting>
  </Bee.MouseHighlighter.Properties.Settings>
 </userSettings>
</configuration>