<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Frostybee.MouseDecorator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	
	
	<!--see: https://docs.microsoft.com/en-us/dotnet/desktop/winforms/high-dpi-support-in-windows-forms?view=netframeworkdesktop-4.8-->
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2" />
	</System.Windows.Forms.ApplicationConfigurationSection>
 <userSettings>
	 <Frostybee.MouseDecorator.Properties.Settings>
   <setting name="HighlighterCenterX" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="HighlighterCenterY" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="HighlighterRadius" serializeAs="String">
    <value>50</value>
   </setting>
   <setting name="HighlighterOpacity" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="HighlighterFillColor" serializeAs="String">
    <value>255, 128, 128</value>
   </setting>
   <setting name="HighlighterIsFilled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="HighlighterOutlineThickness" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="HighlighterOutlineStyle" serializeAs="String">
    <value>Solid</value>
   </setting>
   <setting name="HighlighterOutlineColor" serializeAs="String">
    <value>Red</value>
   </setting>
   <setting name="IsHighlighterEnabled" serializeAs="String">
    <value>False</value>
   </setting>
  </Frostybee.MouseDecorator.Properties.Settings>
 
</userSettings>
</configuration>